# не обрабатывать файлы, имя которых заканчивается на .pyc
*.pyc
__pycache__/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

db.sqlite3~1_4_base_template

/static

/.idea

.env

*~
.idea
.project
.pydevproject
*.geany
docs/_build
build
dist
*.egg*
example/local_settings.py
node_modules/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
coverage.xml

.ropeproject/*
pep8.txt
*.bak
.#*
\#*
*.db
*.tmp
virtualenv
.DS_Store

*.prefs
*.mo
/.stfolder