
body {
  padding-top: 5rem;
  background: #FFFFFF;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}