{% extends 'main/base.html' %}
{% load simple_tags %}

{% block description %}
Е-Магазин, купить любые товары, в наличии и на заказ, спорт товары, товары для дома, элкетроника, гаджеты ...
{% endblock %}

{% block title %}
Е-Магазин, купить любые товары, в наличии и на заказ
{% endblock %}


{% block content %}
    <h1>Добро пожаловать в Е-Магазин</h1>
<!--    <p class="lead">Место для размещения контента Е-Магазина</p>-->
    {% current_time " %I:%M %p" as the_time %}
        <p>Время на сервере {{ the_time }}.</p>
    {% for el in prod %}
        <h1 class="lead">{{ el.name }}</h1>
        {% if turn_on_block %}
        <p>Цена {{ el.price }} рублей</p>
        {% else %}
        {% endif %}
    {% endfor %}
    <p>{{ for_revers|revers_string }}</p>
{% endblock %}
