{% extends 'main/base.html' %}
{% load simple_tags %}

{% block title %}
Е-Магазин
{% endblock %}


{% block content %}
    <h1>Добро пожаловать в Е-Магазин</h1>
<!--    <p class="lead">Место для размещения контента Е-Магазина</p>-->
    {% current_time "%Y-%m-%d %I:%M %p" as the_time %}
        <p>The time is {{ the_time }}.</p>
    {% for el in prod %}
        <h1 class="lead">{{ el.name }}</h1>
        {% if turn_on_block %}
        <p>Цена {{ el.price }} рублей</p>
        {% else %}
        {% endif %}
    {% endfor %}
{% endblock %}
