{% extends 'main/base.html' %}

{% block description %}
{{ product.name }}, {{ product.discription }}
{% endblock %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
  <div itemscope itemtype="http://schema.org/Product">
    <h1 itemprop="name">{{ product.name }}</h1>

    <p itemprop="description"><strong>Описание</strong> {{ product.discription }}</p>
    <p itemprop="seller"><strong>Продавец</strong> {{ product.seller }}</p>
    <p itemprop="category"><strong>Категория товара</strong> {{ product.category }}</p>
    <p itemprop="in stock"><strong>В наличии:</strong> {{ product.in_stock }}</p>
    <p itemprop="price"><strong>Цена</strong> {{ product.price }} у.е.</p>
    <p><strong>Тэги</strong> {% for tags in product.tag %} {{ tags }} {% endfor %} </p>
    <p><strong>Количество просмотров</strong> {{ product.counter }} </p>
  </div>

  <a class="nav-link" href="{% url 'edit_product' pk=product.id %}">Редактировать продукт</a>

{% endblock %}

