{% extends 'main/base.html' %}

{% block content %}
    <h1>Список товаров</h1>
    <ul>
      {% for product in product_list %}
      <li>
        <a href="{{ product.pk }}">{{ product.name }}</a> ({{ product.price }})
      </li>
      {% endfor %}
    </ul>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Подписаться на новинки">
    </form>
{% endblock %}

{% block tag %}
{% for product in product_list %}
    {% for tags in product.tag.all %}
      <li class="nav-item">
        <a class="nav-link" href="?tag={{ tags.name }}">
            {{ tags.name }}
        </a>
      </li>
    {% endfor %}
{% endfor %}
{% endblock %}