{% extends 'main/base.html' %}

{% block content %}
  <h1>{{ product.name }}</h1>

  <p><strong>Описание</strong> {{ product.discription }}</p>
  <p><strong>Продавец</strong> {{ product.seller }}</p>
  <p><strong>Категория товара</strong> {{ product.category }}</p>
  <p><strong>В наличии:</strong> {{ product.in_stock }}</p>
  <p><strong>Цена</strong> {{ product.price }} у.е.</p>
  <p><strong>Тэги</strong> {% for tags in product.tag %} {{ tags }} {% endfor %} </p>
  <p><strong>Количество просмотров</strong> {{ product.counter }} </p>


  <a class="nav-link" href="{% url 'edit_product' pk=product.id %}">Редактировать продукт</a>

{% endblock %}

